* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 70px;
  padding: 0 40px;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #2563eb;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.nav a:hover {
  color: #2563eb;
}

.login-btn {
  border: none;
  background: #2563eb;
  color: white;

  padding: 10px 20px;
  border-radius: 8px;

  cursor: pointer;
}

.login-btn:hover {
  background: #1d4ed8;
}